.container {
  width: 100%;
  height: 450px;
}

.content {
  max-width: 1410px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    p {
      font-size: 4rem;
      font-weight: 600;
      color: var(--blue-100);

      + p {
        color: var(--black-700);
        font-size: 2rem;
      }
    }
  }
}
